* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body {
    background-color:#0F172A;
}
/* Navbar CSS */
.navbar {
   position: fixed;
   top: 0;
   width: 100%;
   height: 80px;
   display: flex;
   align-items: center;
   gap: 50px;
   padding: 0 50px;
   background-color: #0F172A;
   border-bottom: solid;
}
.logo {
    font-size: 40px;
   margin-left: 110px;
}
.navul{
    display: flex;
    gap: 50px;
    padding: 10px 150px;
    background-color: #2b2c30;
    border-radius: 20px;
    border: solid;
    border-color: #2b2c30;
}
 .navul li {
    list-style: none;
}
a {
    text-decoration: none;
    font-size: 20px;
    color: azure;
}
a:hover {
    color: blue;
}
button {
    height: 40px;
    width: 120px;
    font-size: 25px;
    border-radius: 20px;
    margin-left: 19px;
    background-color: blue;
}

