* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
}
body {
    background-color:#0F172A;
}
/* Navbar CSS */
.navbar {
   position: fixed;
   top: 0;
   width: 100%;
   height: 80px;
   display: flex;
   align-items: center;
   gap: 80px;
   padding: 0 50px;
   background-color: #0F172A;
   border-bottom: solid;
   border-color: #18C3E6;
}
.logo {
    font-size: 40px;
   margin-left: 50px;
}
.dot {
    color: #18C3E6;
    font-size: 60px;
}
.navul{
    display: flex;
    gap: 50px;
    padding: 10px 150px;
    background-color: #2b2c30;
    border-radius: 20px;
    border: solid;
    border-color: #2b2c30;
}
 .navul li {
    list-style: none;
}
a {
    text-decoration: none;
    font-size: 20px;
    color: azure;
}
a:hover {
    color: #18C3E6;
}
button {
    height: 40px;
    width: 120px;
    font-size: 25px;
    border-radius: 20px;
    margin-left: 19px;
    background-color: #18C3E6;
}

/*home page css */ 
.intro {
    margin-left: 110px;
    height: 200px;
    width: 500px;
}
.ht_a {
    color: #18C3E6;
    font-size: 18px;   
}
.ab_a {
    font-size: 50px;
}
.ab_b {
    color: #18C3E6;
    font-size: 80px;
    font-weight: bolder;
    
 }
 .ab_c {
    color: #18C3E6;
    font-size: 25px;
 }
 .about_me {
    font-size: 20px;
 }

 /*add the css for the photo */
 .pto1 {
    height: 50px;
    width: 100px;
 }

